# T-test & P-value

In [89]:
import pandas as pd
import numpy as np
import scipy.stats as st

One tailed t-test - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [56]:
data = pd.read_csv('machine_new.txt', sep="\t")

In [57]:
data

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

for the single tailed t-test

H0: mean packing time new_machine is lower than mean packing time old_machine/
H1: mean packing time new_machine is NOT lower than mean packing time old_machine

$$H0: \mu_{new} < \mu_{old}$$
$$H1: \mu_{new} >= \mu_{old}$$

In [58]:
mean_new = data['New machine'].mean()
mean_new

42.14

In [63]:
mean_old = data['    Old machine'].mean()
mean_old

43.230000000000004

In [74]:
t_stat, p_value = st.ttest_ind(data['New machine'], data['    Old machine'], alternative="greater", equal_var=False)
print(t_stat, p_value/2)

-3.397230706117603 0.4991894376334205

As the p_value is greater than alpha=0.05, we can't accept the H0 and also we can say there's not enough evidence to show that one machine is better than the other

Matched Pairs Test - In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [75]:
pokemon = pd.read_csv('pokemon.csv')

In [76]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Defining Hypothesis:

$$H0: \mu_{d} = \mu_{a}$$
$$H1: \mu_{d} \neq \mu_{a}$$

In [77]:
st.ttest_rel(pokemon['Defense'], pokemon['Attack'])

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

We reject the null hypothesis p_value <<< 0.05

# ANOVA

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

Context
Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

State the null hypothesis
State the alternate hypothesis
What is the significance level
What are the degrees of freedom of model, error terms, and total DoF
Data was collected randomly and provided to you in the table as shown: link to the image - Data

# PART I

In [150]:
data2 = pd.read_excel("anova_lab_data.xlsx")
data2

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [151]:
data2.columns

Index(['Power ', 'Etching Rate'], dtype='object')

In [152]:
mean_group=data2.groupby('Power ').agg({"Etching Rate":np.mean})
mean_group

        Etching Rate
Power
160 W          5.792
180 W          6.238
200 W          8.318

#State the null hypothesis
#State the alternate hypothesis
$$H0: \mu_{1} = \mu_{2} = \mu_{3}$$
$$H1: \mu_{1} \neq \mu_{2} \neq \mu_{3}$$

In [153]:
#What is the significance level
alpha = 0.05

In [154]:
#What are the degrees of freedom of model, error terms, and total DoF
df_model = 2
total_df = 14
df_within_groups = 12

In [155]:
#Error term 
var_group = data2.groupby('Power ')['Etching Rate'].var(ddof=1)
print(var_group)

ssw=0
for i in range (3):
    ssw += 4*(var_group[i])
    print(ssw)
print ("The ssw is {}".format(ssw))

error_term = ssw/df_within_groups
print("The error term is: {}".format(error_term))

Power
160 W    0.10232
180 W    0.18862
200 W    0.44837
Name: Etching Rate, dtype: float64
0.4092799999999992
1.1637599999999981
2.9572399999999948
The ssw is 2.9572399999999948
The error term is: 0.24643666666666622

# PART II

In this section, use the Python to conduct ANOVA.
What conclusions can you draw from the experiment and why?

In [158]:
data2['count'] = data2.groupby('Power ').cumcount()
data2_pivot = data2.pivot(index='count', columns='Power ', values='Etching Rate')
data2_pivot.columns = ['power_160','power_180','power_200' ]
data2_pivot

       power_160  power_180  power_200
count
0           5.43       6.24       8.79
1           5.71       6.71       9.20
2           6.22       5.98       7.90
3           6.01       5.66       8.15
4           5.59       6.60       7.55

In [159]:
st.f_oneway(data2_pivot.power_160,data2_pivot.power_180, data2_pivot.power_200)

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

The pvalue is smaller than the alpha. Also, the f-statistic indicates the variance between groups is larger than within group.Therefore, we can reject H0.